@use '../../styles/variables' as *;

.sort-dropdown {
  box-sizing: border-box;
  position: relative;
  font-weight: 400;

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 165px;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: $main-background-color;
    cursor: pointer;

    font-size: 14px;
    font-weight: 400;
    color: #142952;

    &:hover {
      background-color: #f9f9f9;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
  }

  &__imgContainer {
    width: 16px;
    height: 16px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__list {
    position: absolute;
    top: 50px;
    width: 165px;
    padding: 1px;
    margin: 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 10;
  }

  &__item {
    padding: 10px 11px;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;

    color: #142952;
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__item--selected {
    @extend .sort-dropdown__item;
    background-color: #3e9ee3;
    color: #ffffff;
    pointer-events: none;
  }
}
