@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.chat {
  background: $main-background-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    height: calc(100vh - 64px);
    display: flex;
    flex-grow: 1;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 328px;
  background-color: $color-white;
  border-right: 1px solid $color-border;

  &__findUserContainer {
    padding: 12px 12px 0;
    height: 100px;
    border-bottom: 1px solid $color-border;
  }

  &__backButton {
    background: none;
    border: none;
    cursor: pointer;
    width: 75px;
    height: 28px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    vertical-align: middle;
    color: $color-gray;

    &-img {
      height: 16px;
      width: 16px;
    }
  }

  &__searchUserInput {
    margin-top: 8px;
  }

  &__usersList {
    margin-top: 8px;
  }
}

.usersList {
  &__user {
    padding-inline: 12px;
    display: flex;
    align-items: center;
    height: 72px;
    gap: 12px;
    cursor: pointer;

    &--selected {
      background-color: $color-blue;

      .usersList__userName {
        color: $color-white;
      }

      .usersList__userMessage {
        color: white;
      }
    }
  }

  &__userImg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__userInfo {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__userName {
    @include fontMain;
    color: $color-darkblue;
  }

  &__userMessage {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include fontSec--reg--gray;
  }
}

.headerContainer {
  display: flex;

  gap: 12px;
}

.headerImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    width: 100%;
    display: flex;
    gap: 12px;
    background: transparent;
    padding: 8px 12px;
    align-items: center;
    background-color: $color-white;
    border-bottom: 1px solid $color-border;

    @include fontMain--darkblue;
  }

  &__selectedUser {
    display: flex;
    gap: 12px;

    &-aboutUser {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-name {
      @include fontMain;
      color: $color-black;
    }

    &-location {
      @include fontSmall--gray;
    }
  }

  &__infoButton {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-img {
      height: 24px;
      width: 24px;
    }
  }

  &__content {
    padding: 25px 12px;
    flex: 1;
    overflow-y: auto;
  }
}

.chatFooter {
  position: sticky;
  bottom: 0;
  z-index: 10;
  background-color: $color-white;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 12px;

  &__input {
    height: 40px;
    min-width: 192px;
    width: 100%;
    padding: 8px 12px;
    background: $main-background-color;
    border: 1px solid $color-border;
    border-radius: 6px;
    @include fontSec--darkblue;

    resize: none; // заборона користувачу вручну змінювати розмір
    overflow-y: hidden; // приховує скролл
    min-height: 40px; // мінімальна висота
    max-height: 120px; // максима

    &::placeholder {
      @include fontSec--lightgray;
    }

    &:focus {
      outline: none;
      border-color: $color-blue;
    }
  }

  &__sendButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
  }
}

.myMessage {
  max-width: 500px;

  justify-self: flex-end;
  margin-top: 5px;
  width: fit-content;
  padding: 8px 12px;
  background-color: #b3d9f4;
  border-radius: 8px;

  @include fontMain--darkblue;
  font-weight: 400;
}

.anotherUserMessage {
  @include fontMain--darkblue;
  font-weight: 400;

  margin-top: 5px;
  padding: 8px 12px;
  background-color: $color-white;
  border: 1px solid $color-border;
  max-width: 500px;
  width: fit-content;

  border-radius: 8px;
}

.time {
  @include fontSmall--gray;
}
