@use '../../styles/mixins' as *;
@use '../../styles/variables.scss' as *;

.headerSkeleton {
  display: flex;
  padding-inline: 40px;
  background: $main-background-color;
  height: 64px;
  border-bottom: 1px solid #e1e7ef;
  color: transparent; /* ховаємо текст */

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 153px;
    height: 32px;
  }

  .logoSkeleton {
    width: 32px;
    height: 32px;
    background: linear-gradient(90deg, #ddd, #eee, #ddd);
    border-radius: 4px;
    animation: pulse 1.5s infinite ease-in-out;
  }

  .titleSkeleton {
    width: 80px;
    height: 20px;
    background: linear-gradient(90deg, #ddd, #eee, #ddd);
    border-radius: 4px;
    animation: pulse 1.5s infinite ease-in-out;
  }

  .authSkeleton {
    width: 44px;
    height: 20px;
    background: linear-gradient(90deg, #ddd, #eee, #ddd);
    border-radius: 4px;
    animation: pulse 1.5s infinite ease-in-out;
  }
}

@keyframes pulse {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
