@use '../../../../styles/mixins' as *;
@use '../../../../styles/fonts' as *;

.smallExtendedCard {
  &__content {
    position: relative;
    display: flex;
    background-color: $color-white;
    border-radius: 12px;
    max-width: 900px;
    width: 500px;
    height: 160px;

    overflow-y: auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  &__imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 150px;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #f0f5f9;

    border-right: 1px solid $color-border;
  }

  &__img {
    height: 70%;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
    box-shadow: 20px 5px 10px rgba(0, 0, 0, 0.4);
  }

  &__mockedImg {
    height: 100%;
  }

  &__info {
    height: 100%;
    position: relative;
    // max-width: 200px;
    display: flex;
    flex: 1;
    flex-direction: column;

    &-scroll-container {
      display: flex;
      flex-direction: column;
      padding: 12px;
      flex: 1;
      overflow-y: auto;
    }
  }

  &__title {
    width: 85%;
    @include fontH2;
    font-size: 16px;
  }

  &__author {
    margin-top: 4px;
    @include fontMainText--reg;
    font-size: 12px;
  }

  &__tags {
    margin-top: 8px;
    display: flex;
    gap: 12px;
  }

  &__tag {
    @include fontSec--gray;
    font-size: 9px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &-icon {
      width: 12px;
      height: 12px;
    }
  }

  &__details-title {
    margin-top: 15px;
    @include fontSec--darkblue;
    font-size: 9px;
  }

  &__details {
    height: 52px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    column-gap: 20px;
  }

  &__detail {
    display: flex;
    align-items: center;
    gap: 3px;

    @include fontSec--reg--gray;
    font-size: 9px;

    &-img {
      width: 12px;
      height: 12px;
    }
  }

  &__owner {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $color-border;
    margin-top: 16px;
    padding-top: 8px;
    height: 76px;
    cursor: pointer;

    &-title {
      @include fontSec--darkblue;
    }

    &-container {
      margin-top: 8px;
      display: flex;
      gap: 6px;
    }

    &-img {
      width: 40px;
      height: 40px;
    }

    &-name-location {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-name {
      @include fontSecReg--darkblue;
    }

    &-location {
      @include fontSmall--gray;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-top: 24px;
  }

  &__save-exchange-box {
    display: flex;
    gap: 16px;
  }

  &__save {
    width: 238px;
  }

  &__exchange {
    width: 238px;
  }

  &__copy {
    margin-top: 16px;
    justify-self: flex-end;
  }

  &__auth-prompt {
    margin-top: 24px;
  }
}
