@import '../../styles/variables.scss';

.register-page {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: $main-background-color;

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 24px;
    width: 448px;
    max-width: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  &__form-header {
    height: 124px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  &__subtitle {
    width: 344px;
    margin-top: 4px;
    font-size: 14px;
    letter-spacing: 0%;
    font-weight: 400;
    text-align: center;
  }

  &__control {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-inline: 24px;
    width: 100%;
  }

  &__password {
    position: relative;
    width: 100%;
    height: 64px;
    margin-top: 16px;
  }

  &__password-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  &__input {
    margin-top: 4px;
    width: 400px;
    height: 40px;
    padding: 8px 12px;

    font-size: 14px;
    background-color: #f7fafc;
    border: 1px solid #e1e7ef;
    border-radius: 6px;

    &--name {
      width: 192px;
    }

    &:focus {
      outline: none;
      border-color: #41b2f9;
    }
  }

  &__input-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  &__terms-link {
    text-decoration: none;
    color: $main-font-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
  }

  &__error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
    word-break: break-word;
  }

  &__forgot-password {
    font-size: 14px;
    font-weight: 500;
    color: $main-font-color;
    text-decoration: none;
  }

  &__eye {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__social {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 62px;
  }

  &__terms-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;

    input {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  &__terms-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #5e6776;
  }

  &__button-register {
    margin-top: 16px;
    width: 100%;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 8px;
    align-self: center;
    color: #5e6776;
    font-size: 14px;
    font-weight: 400;
  }

  &__register {
    margin-top: 16px;
    font-size: 14px;

    &-link {
      text-decoration: none;
      color: $main-font-color;
      font-weight: 500;
    }
  }
}
