@use '../../../styles/mixins' as *;

.block {
  position: relative;
  width: 437px;
  height: 600px;
  background: #ffffff;
  border: 1px solid #e1e7ef;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    display: flex;
    align-items: center;
    height: 40px;
    @include mix_fontH5-darkblue;
  }

  &__anyButton {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 237px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
  }
}
