@use './variables' as *;

@mixin fontH1 {
  font-weight: $fw-bold;
  font-size: $fs-h1;
  line-height: $lh-tight;
  vertical-align: $valign-middle;
  color: $color-blue;
}

@mixin fontH2 {
  font-weight: $fw-bold;
  font-size: $fs-h2;
  line-height: $lh-normal;
  vertical-align: $valign-middle;
  color: $color-darkblue;
}

@mixin fontH2--bold {
  font-weight: $fw-bold;
  font-size: $fs-h2-bold;
  line-height: $lh-normal;
  vertical-align: $valign-middle;
  color: $color-blue;
}

@mixin fontH3--bold {
  font-weight: $fw-semibold;
  font-size: $fs-h3;
  line-height: $lh-tight;
  letter-spacing: $ls-wide;
  vertical-align: $valign-middle;
  color: $color-darkblue;
}

@mixin fontH4 {
  font-weight: $fw-regular;
  font-size: $fs-h4;
  line-height: $lh-tight;
  vertical-align: $valign-middle;
  color: $color-gray;
}

@mixin fontH4--semiBold--darkblue {
  font-weight: $fw-semibold;
  font-size: $fs-h4;
  line-height: $lh-tight;
  vertical-align: $valign-middle;
  color: $color-darkblue;
}

@mixin fontH5--darkblue {
  font-weight: $fw-semibold;
  font-size: $fs-h3;
  line-height: $lh-tight;
  letter-spacing: $ls-wide;
  vertical-align: $valign-middle;
}

@mixin fontMainText--reg {
  font-weight: $fw-regular;
  font-size: $fs-main;
  line-height: $lh-main;
  vertical-align: $valign-middle;
  color: $color-gray;
}

@mixin fontMain {
  font-weight: $fw-medium;
  font-size: $fs-main;
  line-height: $lh-main;
  vertical-align: $valign-middle;
  color: $color-gray;
}

@mixin fontSec--gray {
  font-weight: $fw-medium;
  font-size: $fs-sec;
  line-height: $lh-main;
  vertical-align: $valign-middle;
  color: $color-gray;
}

@mixin fontSec--darkblue {
  @include fontSec--gray();
  color: $color-darkblue;
}

@mixin fontSec--blue {
  @include fontSec--gray();
  color: $color-blue;
}

@mixin fontSec--white {
  @include fontSec--gray();
  color: $color-white;
}

@mixin fontSec--reg--gray {
  font-weight: $fw-regular;
  font-size: $fs-sec;
  line-height: $lh-main;
  vertical-align: $valign-middle;
  color: $color-gray;
}

@mixin fontSecReg-darkblue {
  @include fontSec--reg--gray();
  color: $color-darkblue;
}

@mixin fontSmall--gray {
  font-weight: $fw-regular;
  font-size: $fs-small;
  line-height: $lh-main;
  vertical-align: $valign-middle;
  color: $color-gray;
}
