@use '../../../../styles/fonts' as *;
@use '../../../../styles/mixins' as *;

.exchange {
  &__pairContainer {
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 30px 15px 32px;
    border: 1px solid $color-border;
    border-radius: 8px;
    background-color: $color-white;
    box-shadow: 0px 1px 10px 0 #00000040;
  }

  &__pair {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 55%;
  }
}

.pairAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.arrowsIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border: 0.5px solid $color-lightGray;
  border-radius: 50%;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.082);
}
