@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

.fadeOutScreen {
  width: 100vw;
  height: 100vh;
  background-color: $main-background-color;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: fadeOut 3s ease forwards;

  @include fontH4--darkblue;
}

.logoutIcon {
  width: 40px;
  height: 40px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.97);
  }
}
