@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.filters {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    margin-top: 2px;
    display: flex;
    align-items: center;
    gap: 56px;
    width: 260px;
    height: 36px;
  }

  &__title {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 100%;
    font-weight: 700;
    font-size: 20px;
    color: #142952;
  }

  &__resetButton {
    background-color: transparent;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 36px;

    font-size: 14px;
    font-weight: 400;
    color: #5e6776;
    cursor: pointer;
  }

  &__items {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 20px;
    gap: 8px;
    cursor: pointer;
    user-select: none;
  }

  &__item-name {
    @include mix_secInter;
  }

  &__block {
    font-weight: 500;
    font-size: 16px;
    color: #142952;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__clear {
    background: none;
    color: #007bff;
    border: none;
    cursor: pointer;
    padding: 0;
    text-align: left;

    &:hover {
      text-decoration: underline;
    }
  }

  &__label {
    font-weight: 600;
    font-size: 14px;
    color: $main-font-color;
  }
}
