@use '../../../styles/variables.scss' as *;

.footer {
  display: flex;
  width: 100%;
  height: 64px;
  padding: 22px 40px;
  color: #5e6776;
  background-color: $main-background-color;
  border-top: 1px solid #e1e7ef;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__linksList {
    display: flex;
    gap: 24px;
    list-style: none;
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
