$cardWidth: 340px;
$cardHeight: 659px;
$imgWidth: 100%;
$imgHeight: 513px;

$transition: all 0.15s ease-in-out;

.card {
  position: relative;
  box-sizing: border-box;
  width: $cardWidth;
  min-height: $cardHeight;
  background-color: #fff;
  border: 1px solid #e1e7ef;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &:hover {
    // border: transparent;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &:hover .card__image {
    filter: brightness(0.15);
  }

  &__actionButtons {
    position: absolute;
    top: 237px;
    left: 53px;
    z-index: 1;
    display: flex;
    gap: 16px;
    width: 235px;

    transition: $transition;
    opacity: 0;
    pointer-events: none;

    &--visible {
      pointer-events: auto;
      opacity: 1;
    }

    > :nth-child(1) {
      flex: 0 1 121px;
    }

    > :nth-child(2) {
      flex: 0 1 98px;
    }
  }

  &__image-container {
    height: $imgHeight;
    width: $imgWidth;
    background-color: #dbe1e7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e1e7ef;
    border-radius: 8px 8px 0 0;
  }

  &__image {
    width: $imgWidth;
    height: $imgHeight;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    transition: $transition;
  }

  &__imagePlaceholder {
    width: 100%;
    height: 100%;
    background: #dbe1e7
      url('../../assets/images/card_imgs/cardBook/image.placeholder.svg') center
      no-repeat;
  }

  &__info {
    width: 100%;
    padding: 16px 24px;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    color: #142952;
    line-height: 120%;
    letter-spacing: 1px;
    white-space: nowrap; /* Забороняє перенос рядків */
    word-break: break-word;
    overflow: hidden; /* Ховає текст, що виходить за межі */
    text-overflow: ellipsis;
  }

  &__author {
    margin-top: 4px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: #5e6776;
    white-space: nowrap; /* Забороняє перенос рядків */
    word-break: break-word;
    overflow: hidden; /* Ховає текст, що виходить за межі */
    text-overflow: ellipsis;
  }

  &__details {
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__detailsCol {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--left {
      width: 202px;
    }
  }

  &__detail {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #5e6776;
  }

  &__detailImg {
    width: 16px;
    height: 16px;
  }
}
