@use '../../../styles/mixins' as *;

.card {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e1e7ef;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 4px 0px #00000040;

    .card__image {
      filter: brightness(0.15);
      transition: all 0.1s ease-in-out;
    }
  }

  &__actionButtons {
    position: absolute;
    top: 140px;
    left: 68px;
    z-index: 1;
    display: flex;
    gap: 16px;
    opacity: 0;
    pointer-events: none;

    &--visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__actionButton {
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    height: 48px;
    width: 48px;
    cursor: pointer;

    &--left {
      background-image: url('../../../assets/images/all_imgs/buttonIcons/bookEditIcon.svg');

      &:hover {
        background-image: url('../../../assets/images/all_imgs/buttonIcons/bookEditIconHover.svg');
      }
    }

    &--right {
      background-image: url('../../../assets/images/all_imgs/buttonIcons/deleteBookIcon.svg');

      &:hover {
        background-image: url('../../../assets/images/all_imgs/buttonIcons/deleteBookIconHover.svg');
      }
    }
  }

  &__image-container {
    width: 100%;
    height: 328px;
    background-color: #dbe1e7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e1e7ef;
    border-radius: 8px 8px 0 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  &__info {
    height: 66px;
    width: 100%;
    padding: 12.5px 12px;
  }

  &__title {
    @include mix_fontSec-darkblue;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__bookAdded {
    margin-top: 4px;
    @include mix_fontSmall-gray;
  }
}
