@use '../../styles/variables' as *;

.home-page {
  &__main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: $main-background-color;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
  height: 212px;
  margin-top: 112px;

  &__title {
    color: $main-font-color;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  &__description {
    margin-top: 24px;
    width: 850px;
    color: $main-paragraph-color;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}

.actions {
  margin-top: 40px;
  display: flex;
  width: 352px;
  height: 48px;
  gap: 16px;

  &__button {
    color: $main-font-color;
    background-color: $main-background-color;
    width: 176px;
    height: 48px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    border: 1px solid $main-font-color;
    cursor: pointer;

    &:hover {
      background-color: $main-font-color;
      color: #fff;
    }
  }
}

.features {
  margin-top: 88px;
  display: flex;
  gap: 32px;
  width: 1024px;
  height: 208px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 248px;
  background-color: #fff;
  border: 1px solid #e1e7ef;
  border-radius: 8px;

  &__img {
    margin-top: 24px;
    width: 48px;
    height: 48px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 263px;
    height: 98px;
  }

  &__title {
    margin-top: 16px;
  }

  &__description {
    text-align: center;
    margin-top: 8px;
    color: $main-card-description;
  }
}
