@use '../../../styles/variables.scss' as *;

.bookList {
  grid-auto-rows: 659px;
  grid-auto-flow: row;
  gap: 24px;
}

.container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-auto-rows: 659px;
  grid-auto-flow: row;
  gap: 24px;
}

.search {
  display: flex;
  gap: 16px;
}

.searchContainer {
  width: 783px;
}

.sort {
  display: flex;
  gap: 8px;
  align-items: center;
}

.sortTitle {
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-gray;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0%;
  color: $color-blue;
}

.empty {
  font-size: 16px;
  color: $color-gray;
  text-align: center;
  margin-top: 32px;
}

.showed {
  margin-top: 24px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: $color-gray;
}
