@use '../../../../styles/mixins' as *;

.card {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #e1e7ef;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;

  width: 100%;
  height: 114px;
  overflow: hidden;

  &:hover {
    background-color: #f1f5f9;
  }

  &__plusIcon {
    position: absolute;
    top: 45.5px;
    right: 8px;

    width: 24px;
    height: 24px;
  }

  &__image {
    width: 76px;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    padding: 16px 0 15px 12px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include mix_fontSec-darkblue;
  }

  &__specification {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 4px;
  }

  &__textContainer {
    display: flex;
    gap: 6px;
  }

  &__text {
    @include mix_fontSmall-gray;
    font-size: 12px;
    color: #6b7280;
  }

  &__selected {
    border: 1px solid #4caf50;
    background: #e8f5e9;
  }
}
