/* src/components/base/LogoutOverlay/LogoutOverlay.module.scss */
@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;

.fadeOutScreen {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeOut 0.5s ease-in-out;
}

.logoutIcon {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
